@model EmployeeMgmt.Models.Employee
@{
    ViewData["Title"] = "Login";
} <hr/>
@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /><div class="body"></div><div class="grad"></div><div class="header"><div>Employee<span></div></div><br> <div  class="login"><form asp-action="Login"><input type="text" asp-for="Email" placeholder="username" name="Email"><br><input type="password" asp-for="Password" placeholder="password" name="password"><br><input style="margin-top:10px" type="submit" value="Login" class="btn btn-primary"/></form></div><div style="margin-left:47%;margin-top:13%"><a asp-action="ViewAll">Back to List</a></div>