@model EmployeeMgmt.Models.Employee
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/SearchLayout.cshtml";
}

<p style="font-size:40px;font-weight:bold;color:black;align-content:center">Search employee</p>
<div style="margin-right:20%!important" class="row">
    <div class="col-md-4">
        <form asp-action="EmpListByDept">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            Employee ID
            <input type="text" id="Email" name="Email" class="form-control" />
            </div>*@
            <div class="form-group">
                <label style="font-color:white" asp-for="DeptId" class="control-label"></label>
                <input asp-for="DeptId" class="form-control" />
                <span asp-validation-for="DeptId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button  asp-action="Details"  class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="ViewAll">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


